.newTaskInput__input {
    width: 80%;
    height: 50px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    
}

.newTaskInput__button {
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: .5em;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
    background-color: #9FB798;
    cursor: pointer;
}

.newTaskInput__button:hover {
    background-color: #8FA688;
}

@media (min-width: 768px) {
    .newTaskInput__input {
        width: 100%;
        border-radius: 5px;
    }
    .newTaskInput__button {
        width: 100%;
        border-radius: 5px;
    }
}