

.timeNow {
    display: block;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
    text-align: center;
}


.timeNow__change__name {
    font-size: .9rem;
    color: rgb(224, 225, 225);
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline;
   
}

.timeNow__change__name:hover {
    color: rgb(33, 81, 195);
}

@media only screen and (min-width: 768px) {


.timeNow__text {
    display: block;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.timeNow__change__name {
    font-size: .9rem;
    color: rgb(231, 232, 234);
    cursor: pointer;
   text-align: center;
    text-decoration: underline;
    
}
}

@media only screen and (max-height: 700px) {

    .timeNow__text {
        top: 0px;
    }

  
  }