* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80"), linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
}

.app__title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
  font-weight: 700;
}

.app__subtitle {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1em;
  font-weight: 400;
}

.app__newTaskInput {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.name__input {
  display: block;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: .7rem;
  flex-direction: column;
  padding-bottom: 1em;
}

.name__input__field {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

.app__name__submit__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  background-color: rgb(67, 102, 191);
  cursor: pointer;
}

.app__name__submit__btn:hover, .app__name__submit__btn:focus {
  background-color: rgb(44, 66, 122);
}

.app__tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.app__task__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  column-gap: 15px;
  width: 100%;
}

.app__tasks__completed {
  display: flex;
  font-size: 1.25rem;
  margin-block: .5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (min-width: 768px) {
  .name__input__field {
    width: 20%;
  }
}

@media only screen and (max-height: 700px) {
  .app__title {
    padding-top: 100px;
  }
}